.group-menu {
  height: calc(100vh - 56px);
  /* background-color: red; */
  background-image: linear-gradient(#6610f2, #6f42c1);
}

.channels-container h5,
.direct-container h5 {
  font-weight: 300;
}

.add-btn {
  height: 25px;
  width: 25px;
  margin: 0 4px 0 4px;
  background: none;
  background: url('../../images/icons8-plus.svg');
  background-size: 25px 25px;
  border: none;
}

@media only screen and (max-width: 575px) {
  .group-menu {
    position: absolute;
    z-index: 2;
    max-width: 50px;
    box-shadow: 5px 0 3px rgba(0, 0, 0, 0.2);
  }
}