.list-group-item {
  background: none;
}

.selected {
  font-weight: 700;
  font-size: 18px;
}

.not-selected {
  font-weight: 300;
}

.list-group-item-action:hover {
  background-color: none;
}

button.item:focus {
  outline: none;
}